{%extends 'base.html'%}
{%block content%}

{%if error%}
    <a href="{%url 'ReadSingleBook'%}" class="btn btn-outline">
        Prev
    </a>
    <a href="{%url 'RemoveSingleBook'%}">
        cancel
    </a>

{%elif completed%}
    current titles
    <ul>
        {%for heading in headings%}
            <li>   {{heading}}    </li>
        {%endfor%}
    </ul>

    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
    </div>
    <a href="{%url 'RemoveSingleBook'%}" class="btn btn-outline">
        Cancel
    </a>
    <a href="{%url 'ExtractSingleBook'% password=''}" class="btn btn-outline">
        Prev
    </a>
    <a href="{%url 'SummarizeSingleBook'%}" class="btn btn-outline">
        Next
    </a>
{%endif%}

{%endblock content%}
