{%extends 'base.html'%}
{%block content%}

{%if error%}
    <a href="{%url 'RemoveSingleBook'%}">
        cancel
    </a>
{%elif completed%}
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
    </div>
    <a href="{%url 'RemoveSingleBook'%}" class="btn btn-outline">
        Cancel
    </a>
    <a href="{%url 'HeadingSingleBook'%}" class="btn btn-outline">
        Prev
    </a>
    <a href="{%url 'ExportSingleBook'%}" class="btn btn-outline">
        Next
    </a>
{%else%}
<form action="" method="POST">
    {%csrf_token%}
    Choose summarizer
    <hr>
    <select name="summarizer" id="">
        {%for summarizer in summarizers%}
        <option value="{{summarizer}}">{{summarizer}}</option>
        {%endfor%}
    </select>
    <button type="submit" class="btn btn-primary">
        select
    </button>
</form>
{%endif%}

{%endblock%}